DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /NewUI_Karirhub/
  RewriteRule ^index\.html$ - [L]

  # Send non-file requests to index.html for Nuxt client routing.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /NewUI_Karirhub/index.html [L]
</IfModule>
